body {
  width: 100%;
  color: black;
  font-family: 'Bubbler one', cursive;
  width: 85%;
  margin: 0px auto;
  box-shadow: 0px 0px 15px 0px grey;
}

/*TODO: change font on select element
TODO: add text shadow
- add type scale
-more sectioning and backgruond/images
-animations

main {
  margin: 2% 3%;
  padding-bottom: 1%;
}

/*Link styles*/
a, a:link, a:active {
  text-decoration: none;
  color: black;
}

a:hover, a:focus {
  color: grey;
  text-shadow: 1px 1px cyan;
}

a:visited {
  color: deepskyblue;
}
