.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

main {
  margin: 2% 3%;
  padding-bottom: 1%;
}

@media only screen and (min-width: 900px) {
  .icon-menu {
    display: none;
  }
  nav ul, nav li {
    display: inline;
  }
  nav:hover ul, nav {
  display: inline;
  } 
  #filters {
    text-align: left;
  }
}